@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Kiwi+Maru&display=swap");

* {
  /* colors */
  --white: #fffee9;
  --light_yellow: #fffdb8;
  --main_yellow: #fffa63;
  --dark_yellow: #474500;
  --black: #1a1900;

  /* font */
  --title: "jockey one", helvetica, sans-serif;
  --text: "kiwi maru", helvetica, sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--main_yellow);
  color: var(--dark_yellow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

p {
  font-family: var(--text);
}

a {
  text-decoration: none;
  font-family: var(--title);
  color: var(--dark_yellow);
}

button {
  border: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15vh;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--main_yellow);
  background-image: url("../img/header_line.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  width: 40px;
  height: 100%;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: var(--main_yellow);
  width: 30vw;
  height: 100vh;
  padding: 3rem;
  transition: left 1s ease-out;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; /* iOS smooth scrolling */
  scroll-behavior: smooth;
  z-index: 10;
}

.menu.active {
  left: 0;
}

.menu_button {
  font-size: 1.5rem;
  text-align: left;
  padding: 2rem;
  background-image: url("../img/header_line.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.logo {
  width: 300px;
  height: 100%;
}

.search {
  width: 40px;
  height: 100%;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(71, 69, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 5;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 425px) {
  body {
    max-width: 300px;
    margin: 0 auto;
    background-color: var(--main_yellow);
    color: var(--dark_yellow);
  }
  .menu {
    width: 80vw;
    padding: 2rem;
  }
}
