.category-banner {
  border: 2px solid black;
  background: transparent;
  padding: 60px 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.category-banner h2 {
  font-size: clamp(2rem, 10vw, 5rem);
  font-weight: 900;
  letter-spacing: 10px;
  margin: 0;
  text-transform: uppercase;
}

#controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
  width: 100%;
}

#sorter,
#filter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

button {
  background: var(--light_yellow);
  border: 2px solid black;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.02);
}

.recipe-card {
  font-family: var(--title);
  font-size: 2rem;
  text-align: left;
  text-decoration: none;
  color: var(--dark_yellow);
  border-radius: 30px;
  /* background-image: url("../img/border_recipe_card.svg"); */
  background-color: var(--light_yellow);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 1.5rem 2rem;
}

.recipe-card:hover {
  transform: scale(1.02);
}
.recipe-card h3 {
  margin: 0 0 10px 0;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.recipe-text {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 10px;
}

.productlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
  padding-bottom: 50px;
}

.img-box {
  width: 100%;
  aspect-ratio: 1.2 / 1;
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.breadcrumb {
  font-family: var(--text);
  font-size: 0.8rem;
  margin: 10px 0;
  padding-left: 5px;
}

.breadcrumb a {
  font-family: var(--text);
}

.category-banner {
  border: 2px solid var(--black);
  margin: 10px 5px 30px 5px;
  padding: 40px 10px;
  border-radius: 2px 4px 2px 8px / 4px 2px 6px 2px;
}

.category-banner h2 {
  font-family: var(--title);
  color: var(--black);
  word-break: break-word;
}

@media (max-width: 425px) {
  .productlist-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #sorter,
  #filter,
  button {
    font-size: 0.7rem;
  }

  .recipe-card {
    width: 100%;
  }

  .recipe-card {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }

  .recipe-card h3 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .recipe-text {
    font-size: 0.7rem;
    color: #333;
    margin-bottom: 10px;
  }
}
